.about-section {
  text-align: center;
  padding: 80px 20px;
  color: #ffffff;
  max-width: 900px;
  margin: 0 auto;
  font-family: sans-serif;
}

.about-text {
  font-size: 1.1rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
  max-width: 800px;
  margin: 0 auto;
  color: #e7e7e7;
}

.store-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;

}

.store-img{
  height: 60px;
  margin: 0 10px;
}