.App {
  min-height: 100vh;  
  height: 100%; 
  overflow-y: hidden;         
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.theme-light {
  background-image: url("../assets/bg-negative.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.theme-dark {
  background-image: url("../assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}