
.comments-page{
  display: flex;
}
.form-container {
  background: #ffffff;
  border-radius: 14px;
  padding: 24px;
  max-width: 420px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  font-family: "Inter", sans-serif;
}

.form-title {
  text-align: center;
  margin-bottom: 18px;
  font-size: 1.4rem;
  color: #222;
  font-weight: 600;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: -30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #333;
}

.form-field input,
.form-field textarea {
  margin-top: 5px;
  padding: 8px 10px;
  border-radius: 8px;
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  font-size: 0.95rem;
}

.form-field input:focus,
.form-field textarea:focus {
  outline: none;
  border-color: #00a8ff;
  background: #fff;
}

.form-submit-btn{
  background: #656cd3;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 15px;
  width: 40%;
  align-self: center;
}

.form-submit-btn:hover {
  background: #4b55dc;
}