/* ===== comments ===== */

.comments-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.comments-box {
  width: 100%;
  max-width: 700px;
  height: 60vh;         
  overflow-y: auto;       
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
}

.comment-row {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
}

.comment-row:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.comment-header {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 5px;
}

.comment-author {
  font-weight: 600;
  font-size: medium;
  color: #333;
}

.comment-time {
  font-size: 0.85rem;
  color: #888;
}

.comment-text {
  color: #555;
  line-height: 1.4;
  font-size: 0.95rem;
  margin-bottom: 4px;
}

.status-msg.error {
  color: red;
  margin-top: 15px;
  font-weight: 600;
}

/* ===== form ===== */

.form-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 70px); 
  margin-top: 70px;    
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
}

.form-container {
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  max-width: 420px;
  width: 90%;
  margin: auto;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  font-family: "Inter", sans-serif;
  position: relative;
}

.form-header {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #333;
}

.form-field input,
.form-field textarea {
  margin-top: 5px;
  padding: 8px 10px;
  border-radius: 8px;
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  font-size: 0.95rem;
}

.form-field input:focus,
.form-field textarea:focus {
  outline: none;
  border-color: #00a8ff;
  background: #fff;
}

.form-submit-btn{
  background: #656cd3;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 15px;
  width: 40%;
  align-self: center;
}

.form-submit-btn:hover {
  background: #4b55dc;
}