.game-title {
  display: flex;
  justify-content: center;   /* מרכז אופקית */
  align-items: center;        /* מרכז אנכית */
  height: 100vh;              /* כל גובה המסך */
  width: 100%;                /* כל רוחב המסך */
}

.img {
  max-width: 90%;             /* תמונה מגיבה */
  height: auto;
}
