.custom-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: transparent;
}

.header-logo {
  width: 200px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-link {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    transition: opacity 0.2s ease;
    font-family: 'Bungee', sans-serif;
}

.nav-link:hover {
  opacity: 0.7;
}

.sections-wrapper {
    height: calc(100vh - 80px);  /* כל המסך פחות ההדר */
    margin-top: 80px;            /* פינוי מקום להדר */
    overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100%;                /* במקום 100vh */
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  transition: opacity 0.8s ease, transform 0.8s ease;
  opacity: 0;
  transform: translateY(40px);
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.button-add{
  background: #656cd3;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 15px;
}

.button-add:hover {
  background: #4b55dc;
}