/* ===== Home Screen ===== */

.sections-wrapper {
  height: calc(100vh - 80px);  
  margin-top: 80px;            
  scroll-snap-type: y mandatory;
  overflow-y: auto;       
}

.section {
  height: 100%;                
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  transition: opacity 0.8s ease, transform 0.8s ease;
  opacity: 0;
  transform: translateY(40px);
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ===== Comments Screen ===== */

.comments-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-add{
  background: #656cd3;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 15px;
}

.button-add:hover {
  background: #4b55dc;
}


/* ===== Not Found ===== */

.notFound {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center; 
}

.title-404 {
  font-size: 4rem;
  font-family: "Bungee"
}

.p1-404 {
  font-size: 1.5rem;
}

.p2-404 {
  font-size: 1rem;
}