.about-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
  font-family: 'Bungee';
}

.line {
  height: 2px;
  width: 100px;
  background: #ffffff55;
  display: inline-block;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.about-title {
  font-size: 2.3rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 8px #ffffff55;
  margin: 0;
}
