.App {
  min-height: 100vh;  
  height: 100%; 
  overflow-y: hidden;         
  background-image: url("./assets/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
